body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: brown;
}

.spacer {
  margin-bottom: 15px;
}

.container {
  margin: auto;
}

.form-fields {
  height: 45px;
  width: 250px;
}

.submit-btn {
  width: 200px;
  height: 50px;
  background: #473dcb;
  color: #fff;
  border: none;
}
.btn {
  display: flex;
  justify-content: center;
}
